/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Common styles or utilities */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 64px;
  color: #fff;
  margin-bottom: 27px;
  font-weight: 700;
}
h2 {
  font-size: 48px;
  color: #0a0826;
  margin-bottom: 8px;
}
h3 {
  font-size: 28px;
  color: #18191f;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
  font-weight: 400;
}
.container {
  width: 1170px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 10px 24px;
  background: #e02c6d;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease, font-weight 0.5s ease-in-out;
}
.btn:hover {
  background-color: lightseagreen;
}
/*------------------------------------
    Header Styels
--------------------------------------*/
#header {
  background-color: #2d25a0;
  padding-top: 42px;
  padding-bottom: 86px;
  display: flex;
  justify-content: center;
}
.header-wrap {
  width: 1170px;
}
/* Navigation styles */
.menu {
}
/* banner styels */
.top-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 102px;
  margin-top: 67px;
}
.top-banner .banner-image:hover img {
  transform: scale(1.3) skew(-5deg);
  transition: transform 1s ease-in-out;
}
.banner-image img {
  width: 556.01px;
  height: 438px;
}

/* ----------------------------------
    Players blog styles
----------------------------------- */
.player-blogs {
  width: 1070px;
  display: flex;
  justify-content: center;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.blog {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px 15px 33px 15px;
}
.blog-thumbnail {
  width: 300px;
  height: 256px;
}

/* ----------------------------------
    Highlight section styles
----------------------------------- */
#highlight-wraper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 66px;
}
.hightlight-info {
  margin-top: 55px;
  margin-left: 50px;
}
.hightlight-info p {
  margin-bottom: 24px;
}
.highlight-thumbnail img {
  width: 567px;
  height: 427px;
}

/* ----------------------------------
    Latest Photos styles
----------------------------------- */
#gallery {
  padding: 80px 2%;
  padding-bottom: 0;
}
.gallery-title {
  text-align: center;
}
.photo-album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-frame {
  width: 300px;
  border: 3px solid goldenrod;
  border-radius: 8px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.photo {
  height: 200px;
}
.photo img {
  width: 100%;
}
.photo-detail {
  position: absolute;
  top: 0;
  background-color: rgba(58, 104, 165, 0.6);
  text-align: center;
  color: white;
  display: none;
}
.photo-detail h3 {
  background-color: black;
  color: #fff;
}
.photo-detail p {
  color: #fff;
}
.photo-frame:hover .photo-detail {
  display: block;
}
.photo-frame:hover .photo img {
  transform: scale(1.3);
  transition: transform 1s ease;
}

/* ----------------------------------
    About us styles
----------------------------------- */
.about-us {
  padding: 0 10%;
  /* margin-bottom: -70px; */
}
.about-us h2 {
  text-align: center;
}

/* ----------------------------------
    Footer section styles
----------------------------------- */
#footer {
  padding-top: 158px;
  padding-bottom: 63px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  width: 483.87px;
  height: 110px;
}
.social-icons {
  margin-bottom: 20px;
}
.social-icons .fab {
  font-size: 25px;
  background-color: #e7e7e8;
  padding: 7px;
  border-radius: 50%;
  color: #969bab;
  margin-right: 14px;
}
.copyright {
  font-size: 18px;
  color: #000000;
}
